<ul>
	<% @subgroups.each do |k,v| %>
		<li id="<%= k -%>"><span style="color: grey; font-weight: bolder;"><%= k -%></span></li>
  	<%= render :partial => "subgroup", :collection => v.map(&:description).uniq %>
	<% end %>
</ul>

<script type="text/javascript">
$j("li", "#subgroups").hover(
  function(){
    classifierSelect(this);
  },
  function(){
    $j(this).removeClass("ac_over");
  }
).click(function(){
  selectClassifierSubgroup(this);
  $j(this).addClass("ac_loading");
}
);
</script>