= t :password_reset_instructions

:plain
:plain
  Пришёл запрос на смену Вашего пароля.
  Если Вы не делали этого запроса, просто проигнорируйте это сообщение.
  Если Вы сделали этот запрос, перейдите по ссылке внизу.

= "\n"
= @url
