<div style="clear: both; float:right; text-align:center;"><%= html_pager @comments %></div>
<h1>Messages</h1>
<div id="comments">
<%= render :partial => 'comments/comment', :collection => @comments %>
</div>
