.invite
  %h1
    =t('invitation.request_your_invitation')
  %p
    = flash[:notice]
  %p
    Please wait for your application approval.
    The result of consideration will be sent to specified email
  %p
    = link_to t('user.login'), login_path
