%h1 Edit User

= simple_form_for @membership, wrapper: :inline do |f|
  = f.error_notification
  .inputs
    = f.input :role, collection: Membership::ROLES.collect{|r| [r.capitalize, r] }, include_blank: false
  .actions
    = f.button :submit, t('.update'), class: 'primary'
	