%h1 Listing signup_accounts

%table
  %tr
    %th
    %th
    %th

  - @signup_accounts.each do |signup_account|
    %tr
      %td= link_to 'Show', signup_account
      %td= link_to 'Edit', edit_signup_account_path(signup_account)
      %td= link_to 'Destroy', signup_account, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Account', new_signup_account_path
