*.swp
.idea
.sass-cache
.yardoc
.bundle
.rvmrc
.DS_Store
doc/
config/mongoid.yml
config/secured_settings.yml
coverage/
log/*.log
log/*.pid
log/*.db
tmp/
public/assets/
public/system/uploads/
public/uploads/
lib/tasks/demo/
