<div class="bi">
<div class="bi-image"><img src="/images/item_image_small.jpg" width="50px" alt="Supplier Image"/></div>
<div class="bi-content">
<div><span class="normal"><%= comment.user.name %></span></div>
<div class="usual"><%= comment.content %></div>
<div class="light"><%= comment.created_at.to_s(:cmnt) %></div>
</div>
</div>
