<!--arrow logic-->
<% if item.first? %>
  <% if item.root? %>
    <% if @base_item.packaging_items.first == item %>
      <% if @base_item.has_forest? %>
	<div class="arrow"></div>
      <% else %>
	<div class="single-arrow"></div>
      <% end %>
    <% else %>
    <% end %>
  <% else %>
    <% if item.first? %>
      <% if item.last? %>
	<div class="single-arrow"></div>
      <% else %>
	<div class="arrow"></div>
      <% end %>
    <% else %>
      <!--<div class="arrow"></div>-->
    <% end %>
  <% end %>
<% end %>
<!--/arrow logic-->
