<%= render :partial => "packaging_items/arrow", :locals => {:item => @packaging_item} %>
<% remote_form_for(@packaging_item, :url => base_item_packaging_item_path(@base_item, @packaging_item)) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <div class="fleft"><%= f.submit "Обновить", :style=>"width: auto;"%></div>
    <div class="fright min"><%= button_to_remote 'Отмена', :url => base_item_packaging_item_path(@base_item, @packaging_item), :method => :get %></div>
  </p>
<% end %>
