<% recursive_tree_output @packaging_items, :class => 'items', :id => 'items' do |item| %>
  <div class="item" id="<%= dom_id item %>_item">
    <%= render :partial => 'packaging_items/item', :object => item %>
  </div>
<% end %>

<% javascript_tag do %>
  $$('#items li').each(function(element) {
    if (!element.select('ul')[0]) {
      var ul = new Element('ul');
      element.appendChild(ul);
    }
  });
  $$('#items ul').each(function(element) {
    var li = new Element('li', { className: 'new' });
    var id = element.up('li').id.gsub(/packaging_item_/, '');
    li.update('<div class="item"><a href="/base_items/<%= @base_item.id %>/packaging_items/' + id + '/new_sub">создать</a></div>');
    element.appendChild(li);
  });
  var li = new Element('li', { className: 'new' });
  li.update('<div class="item"><a href="/base_items/<%= @base_item.id %>/packaging_items/new">создать</a></div>');
  $('items').appendChild(li);
  setHeights();
<% end %>
