<div class="item">
<div class="single-arrow"></div>

<% remote_form_for(@packaging_item, :url => base_item_packaging_items_path(@base_item)) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.hidden_field :parent_id %>
  <p>
  <div class="fleft min">
    <%= f.submit "Упаковать" %>
  </div>
  <div class="fright min">
  <%= button_to_remote 'Отмена', :url => base_item_packaging_items_path(@base_item), :method => :get %>
  </div>
  </p>
<% end %>
</div>
