<h1>New packaging_item</h1>

<% form_for(@packaging_item, :url => {:controller => :packaging_items, :action => :create, :parent_id => defined?(@parent) ? @parent.id : nil}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

