.warning{
  text-align:center;
  vertical-align: bottom;
  padding-top:5px;
  color: black;
  width:100%;
  height: 25px;
	background: #F7F8E0;
	border: 1px solid #F3F781;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#goods-list-short .tags-wrapper{
  height:17px;
  overflow:hidden;
  padding-top:3px;
  padding-left: 10px;
}

.w156{
  width:150px;
}
.pt-cases{
  height:200px;
}

.bg-rose{
  background-color:#F6CEE3;
}
.bg-green{
  background-color:#A9F5BC;
}

/* Logistics */




li.pack {
  background: url(/images/lbg.png) left top repeat-y;
  width:1%;
}

ul.items li>ul
{
  margin-left: 147px;
  margin-bottom: 0;
  position: relative;
}

ul.items ul>li, ul.items>li
{
  list-style: none;
  //padding-bottom: 20px;
//  overflow: hidden;
  padding-left: 40px;
}

ul.items li .item
{
  float: left;
  width: 122px;
  //background: #dfeef3;
  //border: 1px solid #666;
  position: relative;
  padding: 5px;
  padding-top: 20px;
padding-right:30px;

}

ul.items li .item p
{
  margin-bottom: 3px;
}

ul.items li:last-child
{
  margin-bottom: 0;
}

ul.items li.new .item
{
  border: none;
  //height: 30px;
  //width: 70px;
  background: transparent;
}

ul.items li .item .arrow
{
  position: absolute;
  left: -40px;
  top: 20px;
  line-height: 20px;
  height: 172px;
  width: 40px;
  margin-top: -25px;
  font-size: 20pt;
  z-index:999;
  background: url(/images/arrow.png);
}
ul.items li .item .line-n
{
  position: absolute;
  left: -32px;
  top: -38px;
  line-height: 20px;
  height: 232px;
  width: 29px;
  margin-top: -25px;
  font-size: 20pt;
  z-index:999;
  background: url(/images/lbg.png);
}
ul.items li .item .line-down
{
  position: absolute;
  left: -32px;
  top: 192px;
  line-height: 20px;
/*  height: 183px;*/
  width: 29px;
  margin-top: -25px;
  font-size: 20pt;
  z-index:998;
  background: url(/images/lbg.png);
}
ul.items li .item .single-arrow {
  position: absolute;
  left: -40px;
  top: 20px;
  line-height: 20px;
  height: 144px;
  width: 40px;
  margin-top: -25px;
  font-size: 20pt;
  background: url(/images/single-arrow.png);
}

ul.items li .item .last-arrow {
  position: absolute;
  left: -45px;
  top: 180px;
  line-height: 20px;
  height: 144px;
  width: 40px;
  margin-top: -25px;
  font-size: 20pt;
  background: url(/images/last-arrow.png) ;
}

li.new {
  background: none;
}
ul.items li.new .item ul
{
  margin: 0;

}

.pi {
	width:122px;
	min-height:138px;
	padding: 18px 0 12px 8px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 11px;
	position: relative;

}
.pi:hover{
/*	border: 1px solid #3a5a98;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fff;*/
}
.pi .logistics-item-title{
	clear: left;
	font-size: 9px;
}
.pi .logistics-item-title-2{
	color: #b4b4b4;
	position: relative;
	top: 3px;
	font-size: 9px;
}
.pi .logistics-item-title, .pi .item-qnt{
	font-size: 10px;
	font-weight: normal;
}
.pi .item-qnt{
	position: relative;
	top: 2px;
}
.pi .drop-down-list li{
	padding: 0;
}
.pi .drop-down-cont{
	height: 18px;
}
.pi .i-img{
	margin: 0 auto 10px;
	display: block;
	position: relative;
	left: -4px;
	z-index: 1;
}
.pi.edited .i-img{
	margin: 0 auto 25px;
	display: block;
	position: relative;
	left: -4px;
	z-index: 1;
}
.u-img{
	margin: 0 auto 0px;
	display: block;
	position: relative;
	left: -4px;
}
.input-table td.gnt{
	padding: 0 0 3px 0;
}
.rb-table img{
	position: relative;
	top: -2px;
	left: 2px;
}
.input-table td{
	padding: 0 0 1px 0;
	font-size: 11px;
}
.input-table td input{
	margin: 0 2px 0 0;
}
.input-table{
	margin: 5px 0 10px 0;
}
.input-table-edited{
	margin: 1px 0 10px 0;
}
.input-table-edited{
	margin: 7px 0 13px 0;
}
.input-table-edited td{
	padding: 0 0 5px;
}
.pi:hover .edit-delete{
	display: block;
}
.pi:hover .u-img{
	/*display: none;*/
}
.pi .edit-delete{
	position: absolute;
	left: 5px;
	top: 0;
	width: 41px;
	height: 21px;
	margin-top: 5px;
	background: url(/images/newdesign/edit-delete-btn.png);
	overflow: hidden;
	display: none;
	z-index: 2;
}
.delete-leaf-2{
	position: absolute;
	left: 5px;
	top: 0;
	width: 21px;
	height: 21px;
	margin-top: 5px;
	background: url(/images/newdesign/edit-delete-btn.png) right top no-repeat;
	display: none;
	z-index: 3;
}
.pi-cont:hover .delete-leaf-2{
	display: block;
}
.hasChild:hover .delete-leaf-2{
	display: none;
}
.edit-delete a{
	width: 20px;
	height: 21px;
	float: left;
	display: block;
}
.pi-cont .blue-btn.cancel span{
	padding-left: 18px;
	padding-right: 19px;
}

.pi .art{
	color: #3a5a99;
	font-size: 11px;
	font-weight: bold;
}

.pl {

  background:url(/images/pallet.gif) no-repeat 0 bottom;
  min-height: 168px;
}
.pallet {
  font-size: 85%;
}

.pi p{
	margin-bottom:3px;
}
#first_pi {
  padding-top: 18px;
  margin-top: 20px;
}
.pi input[type='text']
{
  margin-top: 0px;
	background: #f2f2f2;
	border: 1px solid #e8e9e9;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.w110{
	width: 110px;
}




.tree-cont{
}
.pi-cont{
	width: 130px;
	float: left;
	margin: 18px 32px 20px 23px;
	position: relative;
}
.branch{
	float: left;
	min-height: 130px;
}
.pi-cont.secondChild .bt{
	height: 16px;
	border-bottom: 1px dashed #cccccc;
	position: absolute;
	top: -35px;
	left: 0;
	background: #fff;
}
.tree-larr{
	width: 12px;
	height: 84px;
	background: url(/images/newdesign/tree-larr.jpg) left bottom no-repeat;
	position: absolute;
	left: -35px;
	top: -18px;
}
.pi-cont.secondChild .tree-larr{
	display: none;
}
.pi-cont.edited:hover .pack-btn{
	display: block;
}
.pack-btn{
	position: absolute;
	left: 13px;
	bottom: 13px;
	display: none;
}
.accept-btn, .cancel-btn{
	width: 95px;
	margin: 5px 0 0 17px;
}
.pi-cont:hover .full{
	display: block;
}
.full{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background: #fff;
}
.pi.mini{
	z-index: 1;
	position: relative;
	border: 1px solid #fff;
	min-height: 132px;
	padding: 5px 0 0 8px;
}
.pi.full{
	padding: 5px 0 5px 8px;
}
.pi.mini .i-img, .pi.full .i-img{
	margin-bottom: 10px;
}
.pi-cont.minimized{
	margin: 5px 15px 2px 5px;
}
.pi-cont.minimized .tree-larr{
	width: 12px;
	height: 62px;
	background: url(/images/newdesign/tree-larr.jpg) left bottom no-repeat;
	position: absolute;
	left: -17px;
	top: -5px;
}
.pi-cont.minimized .bt{
	height: 16px;
	border-bottom: 1px dashed #cccccc;
	position: absolute;
	top: -22px;
	left: 0;
	background: #fff;
}
.pi.mini .input-table-edited{
	margin: 7px 0 0;
}


.fleft {
  float: left;
}
.fright {
  float: right;
	color:#596979;
}
.clear {
  clear: both;
}

.error_field {
  background-color: #ff9090;
}





.hide {
  display: none;
}
.subscribed {
  background: #daffb5;
}

.none{
  color: #000;
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}
.d {
  font-weight: bold;
}
.t {
  color: #999;
  font-size: 95%;
}





.subscribed {
  background: url(/images/newdesign/icon-stat-2.png) 2px no-repeat;
  background-position:3% 85%;
}
.sort-btn a {
	display:inline-block;
	border-left:none;
	padding:0 0 0 7px;
	margin-right:7px;
	color:#747473;
}
.submit-btn, .submit-btn2 {
	border:1px solid #8FA3C4;
	border-bottom:1px solid #312378;
	cursor:pointer;
	font-size:11px;
	background:#3B5A9A;
	margin:7px 5px;
	padding:0px 18px;
	line-height:18px;
	color:#fff;
	height:18px;
}
.submit-btn2 {
        float: right;
}
a:hover.submit-btn2 {
        color: white;
}
a:visited.submit-btn2 {
        color: white;
}
.quantity
{
  color: white;
	background: grey;
	border: 1px solid grey;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/*for event log*/

#event {
  padding: 30px 20px 20px 30px;
}

.sr-status {
  width: 10px;
  height: 10px;
}
.sr-accepted {
  background: url(/images/newdesign/icon-stat-2.png) no-repeat;
}
.sr-none {
  background: url(/images/newdesign/icon-stat-5.png) no-repeat;
}

.sr-canceled {
  background: url(/images/newdesign/icon-stat-4.png) no-repeat;
}
.sr-new {
  background: url(/images/newdesign/icon-stat-3.png) no-repeat;
}

.event-date {
  color: #555;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  padding-left: 2em;
}
.event-author {
  float: right;
}
.event-comment, .event-subscriptionresult, .event-subscription, .event-retailerattribute, .event-baseitem, .event-image {
  min-width: 130px;
  text-align: center;
  float: left;
  font-size: 12px;
  color: #FFF;
  margin-right: 1em;
}

.event-comment {
  background-color: #007c14;
}
.event-subscriptionresult {
  background-color: #008dab;
}
.event-subscription {
  background-color: #ab00a9;
}
.event-retailerattribute {
  background-color: #d76f00;
}
.event-baseitem {
  background-color: #003b8c;
}
.event-image {
  background-color: #5d0093;
}

.page a.prev-dis {
	background: url("/images/newdesign/page-prev-n.png") no-repeat 0 0;
}
.page a.next-dis {
	background: url("/images/newdesign/page-next-n.png") no-repeat 0 0;

.page a.prev {
	background: url("/images/newdesign/page-prev.png") no-repeat 0 0;
}

#goods-list-short {
	padding: 0px;
}

.pic-cont{
  overflow:hidden;
}

#user_contacts #user_description {

}

