.subscribed {
  background: url(/images/newdesign/icon-stat-2.png) 2px no-repeat;
  background-position:3% 85%;
}
.sort-btn a {
	display:inline-block;
	border-left:none;
	padding:0 0 0 7px;
	margin-right:7px;
	color:#747473;
}
.submit-btn {
	border:1px solid #8FA3C4;
	border-bottom:1px solid #312378;
	cursor:pointer;
	font-size:11px;
	background:#3B5A9A;
	margin:7px 5px;
	padding:0px 18px;
	line-height:18px;
	color:#fff;
	height:18px;
}

.page a.prev-dis {
	background: url("/images/newdesign/page-prev-n.png") no-repeat 0 0;
}
.page a.prev {
	background: url("/images/newdesign/page-prev.png") no-repeat 0 0;
}

