* {
  margin:0;
  padding:0;
  outline:none
}
html, body {
  height: 100%;
}
html {
  font-size:100.01%;
}
body {
	font-family:Arial;
	font-size:12px;
	color:#4a4a48;
	/*background:#fff url("/images/newdesign/wrap-bg.png") repeat-x 0 0;*/
	background:#fff url("/images/newdesign/wrap-bg-2.jpg") repeat-x 0 0;
	position:relative;
	height:100%;
	}
table {
	border-collapse:collapse;
	border-spacing:0;
	}
a, a:visited {
	color:#275c9d;
	text-decoration:none;
	}
a:hover {
	text-decoration:none;
	color:#003e8b;
	}
a:focus {
	outline:none;
	}
:focus, :active {
	outline: 0;
	}
img {
	border:0;
	}
form {
	margin:0;
	padding:0;
	}
ol, ul {
	list-style: none;
	}
.clr {
	content: ".";
	display: block;
	float:none;
	clear:both;
	height:0;
	overflow: hidden;
	}
.c{
	display: block;
	clear: both;
	height: 0;
	font-size: 0px;
	line-height: 1px;
	overflow: hidden;
	}
#wrap {
	position:relative;
	height:100%;
	margin:0 auto;
	width:980px;
	padding:0 22px;
}
#header {
	height:31px;
	width:980px;
	position:relative;
	z-index: 99;
}
#top-menu{
	height:31px;
}
#top-menu li{
	float: left;
	border-right: 1px solid #bfc0bf;
}
#top-menu li.first{
	border-left: 1px solid #939492;
}
#top-menu li.first a{
	border-left: 1px solid #bfc0bf;
}
#top-menu li a{
	float: left;
	height:24px;
	padding: 7px 20px 0;
	display: block;
	color: #d7d7d7;
	font-size: 12px;
	border-right: 1px solid #939492;
}
#top-menu li a:hover{
	color: #ffffff;
	background: #b3b3b3;
}
#top-menu li a.cur{
	color: #ffffff;
	background: #b3b3b3;
}
#header .search {
	float: right;
	padding: 4px 14px 0 0;
	height: 21px;

}
#header .search .search-inp {
	float:left;
	width: 300px;
	height:16px;
	border:0px;
	line-height:16px;
	padding:3px 7px;
	background: url("/images/newdesign/search-inp.png") no-repeat 0 0;
}
#header .search .search-btn {
	float:left;
	width:25px;
	height:22px;
	border:0px;
	cursor:pointer;
	background: url("/images/newdesign/search-btn.png") no-repeat 0 0;
}
#header .right {
	position:absolute;
	text-align:right;
	padding:3px 0px;
	height:16px;
	right:15px;
	top:31px;
	z-index: 5;
}
#header .right a, #header .right span{
	text-decoration:none;
	line-height:16px;
	color:#808080;
	margin: 0 0 0 18px;
	font-size: 10px;

}
#header .right a.set {
	background: url("/images/newdesign/header-a-set-2.jpg") no-repeat right 6px;
	padding: 0 12px 0 0;
}
#header .company {
	color:#808080;
}

#content {
	width:980px;
	min-height:500px;
	position:relative;
	padding:0px 0 0 0;
	z-index: 98;
}
#content #left-side {
	float:left;
	width:180px;
}
#content #middle-side {
	float:left;
	width:798px;
	border:1px solid #c7c7c7;
	border-top:0px;
}
#content #middle-side .wrap {
	width:776px;
	min-height:700px;
	padding:4px 0px 5px 20px;
        border:1px solid #ececec;
	border-top:0px;
}

.w760{
	width: 760px;
}
#content #full-side {
	min-height:700px;
	padding:0px 22px;
}


#content #left-side .top-box {
	min-height:95px;
}
#content #left-side .top-box-img {
	padding: 24px 0 5px 4px;
	min-height:186px;
}
#content #left-side .top-box-img img{
	margin: 0 0 15px;
}
#content #left-side .top-box-img a{
	text-decoration: underline;
}
#content #left-side .top-box-img a:hover{
	text-decoration: none;
}
.bb{
	border-bottom: 1px solid #D6D7D7;
}
#content #left-side .cat {
	border-bottom:1px solid #d6d7d7;
	width:180px;
	margin-bottom:8px;
	padding:0 0 8px 0px;
}

.left-side-subscribers{
	padding: 10px 10px 0 4px;
}
.subscriber{
	padding: 7px 0 7px 0;
}
.subscriber-name{
	color: #000;
	font-size: 11px;
	padding: 0 17px 0 0;
}
.subscriber-name.stat-1{
	background: url(/images/newdesign/icon-stat-1.png) right 2px no-repeat;
}
.subscriber-name.stat-2{
	background: url(/images/newdesign/icon-stat-2.png) right 2px no-repeat;
}
.subscriber-name.stat-3{
	background: url(/images/newdesign/icon-stat-3.png) right 2px no-repeat;
}
.subscriber-name.stat-4{
	background: url(/images/newdesign/icon-stat-4.png) right 2px no-repeat;
}
.subscriber-name.stat-5{
	background: url(/images/newdesign/icon-stat-5.png) right 2px no-repeat;
}
.subscriber-address{
	color: #888886;
	font-size: 10px;
}

.versions{
	padding: 7px 0 7px 4px;
	font-size: 11px;
}
.versions ul{
	padding: 7px 0 0 0;
}
.versions li{
	padding: 0 0 2px 12px;
	float: left;
	text-decoration: underline;
	color: #275c9d;
}
.versions .cur-version{
	text-decoration: none;
}
.versions .cur-version a{
	color: #000;
	cursor: default;
}
.strikethrough a{
	text-decoration: line-through;
}
.strikethrough:hover{
	text-decoration: line-through;
}

#content #left-side .cat li {}
#content #left-side .cat li a {
	display:block;
	color:#4a4a48;
	display:block;
	background:#fff;
	font-weight:700;
	text-decoration:none;
	border-top:1px solid #fff;
	padding:2px 10px;
	line-height:16px;
}
#content #left-side .cat li a:hover {}
#content #left-side .cat li.act a, #content #left-side .cat li a:hover {
	background:#d6dbeb;
	font-weight:700;
	border-top:1px solid #e0e4f0;
}
#content #left-side .cat li ul li.act a, #content #left-side .cat li ul li a:hover {
	background:#d6dbeb;
	font-weight:700;
	border-top:1px solid #e0e4f0;
}
#content #left-side .cat li ul {
	margin:0px;
}
#content #left-side .cat li ul li {
	padding:2px 10px 2px 10px;
}
#content #left-side .cat li ul li a {
	font-weight:400;
}

#content #left-side a.add-product {
	width:128px;
	height:16px;
	display:block;
	color:#fff;
	line-height:16px;
	padding:2px 0px;
	font-size:11px;
	text-align:center;
	margin:0 0 5px 0px;
	text-decoration:none;
	background: url("/images/newdesign/add-product.png") no-repeat 0 0;
}

#content #left-side .btn-profil {
	padding: 13px 0px 8px 4px;
}
#content #left-side .btn-profil p.btn {
	background: url("/images/newdesign/btn-left.png") no-repeat left top;
	display:inline-block;
	margin:0 0px 3px 0;
	height:15px;
}
#content #left-side .btn-profil p.btn span {
	background: url("/images/newdesign/btn-right.png") no-repeat right top;
	display:inline-block;
	text-align:center;
	line-height:15px;
	font-size:10px;
	padding:0 10px;
	color:#32322f;
	height:15px;
}
#content #left-side .btn-profil a {
	font-size:12px;
	display:block;
	padding:6px 0 10px 3px;
}
#content #left-side .btn-profil p.btn span a.remove {
	background: url("/images/newdesign/btn-prof-remove.png") no-repeat right top;
	display:inline-block;
	margin:0 0 0 4px;
	cursor:pointer;
	padding:0px;
	width:7px;
	height:8px;
}
.block-title{
	font-size: 12px;
	font-weight: bold;
	color: #3a5a99;
}

#content .address {
	padding:23px 0 10px 0px;
}
#content .address a {
	font-size:18px;
	color:#003663;
	padding:0 12px 0 18px;
	text-decoration:none;
	background: url("/images/newdesign/address-arrow.png") no-repeat left 8px;
}
#content .address a:first-child {
	padding:0 12px 0 0px;
	background: none;
}
#content .add-sub {
	margin:-8px 0 0 0px;
	padding:0 0 15px 0px;
	font-size:11px;
	color:#9d9f9e;
}


#content #middle-side #retailers {
	width:495px;
	padding:55px 0 0 0;
}
#content #middle-side #retailers .item {
	border-bottom:1px solid #f1f2f2;
	border-top:1px solid #c8c9c9;
	position:relative;
	text-align:left;
//	height:75px;
	width:495px;
}
#content #middle-side #retailers .item .img {
	float:left;
	width:45px;
	padding:10px 0 0 0;
}
#content #middle-side #retailers .item .desc {
	float:left;
	width:450px;
	padding:10px 0 0 0;
}
#content #middle-side #retailers .item .desc a.title {
	color:#00538c;
	font-size:12px;
	line-height:14px;
	text-decoration:none;
}
#content #middle-side #retailers .item .desc .contact {
	padding:2px 0 8px 0px;
	color:#888886;
}
#content #middle-side #retailers .item .desc .btns {}
#content #middle-side #retailers .item .desc p.btn {
	background: url("/images/newdesign/btn-left.png") no-repeat left top;
	display:inline-block;
	margin:0 6px 0 0;
	height:15px;
}
#content #middle-side #retailers .item .desc p.btn span {
	background: url("/images/newdesign/btn-right.png") no-repeat right top;
	display:inline-block;
	text-align:center;
	line-height:15px;
	font-size:10px;
	padding:0 10px;
	color:#32322f;
	height:15px;
}
#content #middle-side #retailers .item .date {
	position:absolute;
	text-align:right;
	display:block;
	color:#c8c9c9;
	right:0px;
	top:10px;
}
#content #middle-side #retailers .item .col {
	position:absolute;
	text-align:right;
	color:#c8c9c9;
	right:0px;
	top:28px;
}
#content #middle-side #retailers .item .col span {
	background: url("/images/newdesign/retailer-col-left.png") no-repeat left top;
	display:inline-block;
	height:16px;
}
#content #middle-side #retailers .item .col span b {
	background: url("/images/newdesign/retailer-col-right.png") no-repeat right top;
	text-align:center;
	font-size:12px;
	font-weight:700;
	line-height:16px;
	display:inline-block;
	padding:0 5px;
	height:16px;
	color:#fff;
}


#content #full-side .address {
	padding:15px 0 30px 200px;
}
#statuses {
	margin:0 auto 10px auto;
}
#statuses table {
	border-bottom:1px solid #C6C6C6;
}
#statuses tr.top th {
	vertical-align:middle;
	font:11px Verdana,Arial,Helvetica, sans-serif;
	/*-o-transform-origin: 10px 10px;*/
	text-align: right;
	height:105px;
	width:25px;
	padding:0px;


}
#statuses tr.top th div{
		-moz-transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	    writing-mode: tb-rl;
	    text-align: left;
	    margin: 0 -40px 0;
	    padding: 0 0 40px 25px;

}
#statuses tr.top th.one-title {
	width:275px;
}
/*
#statuses th div {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -o-transform-origin: 10px 10px;
  display:block;
  text-align:left;
  height: 20px;
  width:100px;
  border:1px solid #f00;
  margin: 0px 0 0px 0px;
  padding:0px;
}
*/

#statuses th.grey, #statuses td.grey {
	background:#efefef;
}
#statuses th.row-th {
	font-weight:700;
	text-align:left;
	line-height:16px;
	color:#575755;
	font-size:11px;
	padding:5px 5px 5px 10px;
	border-bottom:1px solid #ECECEC;
	border-top:1px solid #DADADA;
}
#statuses th.row-th b {
	color:#3a5a99;
	display:block;
}
#statuses td {
	border-bottom:1px solid #ECECEC;
	border-top:1px solid #DADADA;
}
#statuses td span {
	width:25px;
	height:38px;
	display:block;
}
#statuses td span.icon-stat-1 {
	background: url("/images/newdesign/icon-stat-1.png") no-repeat 50% 50%;
}
#statuses td span.icon-stat-2 {
	background: url("/images/newdesign/icon-stat-2.png") no-repeat 50% 50%;
}
#statuses td span.icon-stat-3 {
	background: url("/images/newdesign/icon-stat-3.png") no-repeat 50% 50%;
}
#statuses td span.icon-stat-4 {
	background: url("/images/newdesign/icon-stat-4.png") no-repeat 50% 50%;
}
#statuses td span.icon-stat-5 {
	background: url("/images/newdesign/icon-stat-5.png") no-repeat 50% 50%;
}
#statuses td span.icon-stat-n {
	background: url("/images/newdesign/icon-stat-n.png") no-repeat 50% 50%;
}

#profile-info {
	width:495px;
	padding:15px 0 0 0;
}
#profile-info .info-wrap {}
#profile-info table {
	width:100%;
}
#profile-info h3.title {
	border-top:1px solid #e7e7e7;
	display:block;
	text-align:left;
	background:#efefef;
	line-height:18px;
	padding:3px 10px;
	font-size:12px;
	color:#4a4a48;
	display:block;
	height:18px;
}
#profile-info td {
	vertical-align:top;
	text-align:left;
	padding:5px 10px;
}
#profile-info td span {
	color:#9d9f9e;
	display:block;
	width:120px;
}

#profile-goods {}
#profile-goods .goods-wrap {
	width:495px;
	padding:0 0 20px 0px;
	border-top:1px solid #C9C9C9;
}
#profile-goods .item {
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #D5D5D5;
	padding:10px 10px;
	width:475px;
}
#profile-goods .item .img {
	float:left;
	width:42px;
}
#profile-goods .item .img img {
	height:31px;
	width:31px;
	border:1px solid #BFBFBF;
}
#profile-goods .item .desc {
	float:left;
	width:410px;
	color:#353535;
	font-weight:500;
	line-height:16px;
}
#profile-goods .item .desc span.art {
	color:#075182;
}
#profile-goods .item .desc .adres {
	color:#8B8B8B;
	font-size:11px;
}
#profile-goods .item .stat {
	float:left;
	width:22px;
}
#profile-goods .item .stat span {
	width:22px;
	height:33px;
	display:block;
}
#profile-goods .item .stat span.stat-1 {
	background: url("/images/newdesign/icon-stat-1.png") no-repeat 50% 50%;
}
#profile-goods .item .stat span.stat-2 {
	background: url("/images/newdesign/icon-stat-2.png") no-repeat 50% 50%;
}
#profile-goods .item .stat span.stat-3 {
	background: url("/images/newdesign/icon-stat-3.png") no-repeat 50% 50%;
}
#profile-goods .item .stat span.stat-4 {
	background: url("/images/newdesign/icon-stat-4.png") no-repeat 50% 50%;
}
#profile-goods .item .stat span.stat-5 {
	background: url("/images/newdesign/icon-stat-5.png") no-repeat 50% 50%;
}
#profile-goods .item .stat span.stat-n {
	background: url("/images/newdesign/icon-stat-n.png") no-repeat 50% 50%;
}



#profile-news {}
#profile-news .goods-wrap {
	width:680px;
	padding:0 0 20px 0px;
}
#profile-news .staffs-wrap {
	width:495px;
	padding:0 0 20px 0px;
}
#profile-news .item {
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #D5D5D5;
	position:relative;
	padding:16px 0px;
	width:680px;
}
#profile-news .staffs-wrap .item {
	width:495px;
}
#profile-news .item:first-child {
	border-top:0px;
}
#profile-news .item .img {
	float:left;
	width:60px;
}
#profile-news .staffs-wrap .item .img {
	width:43px;
}
#profile-news .item .desc {
        /*float:left;*/
	width:595px;
	color:#353535;
	font-weight:500;
	line-height:16px;
        margin: 0 0 20px 0;
}
#profile-news .staffs-wrap .item .desc {
	width:452px;
}
#profile-news .item .desc .author {
	font-size:11px;
	padding:3px 0 0 0;
	color:#888886;
}
#profile-news .item .desc .contact {
	color:#989898;
}
#profile-news .item .desc .text {
	padding:10px 0 12px 0px;
}
#profile-news .item .desc a {
	color:#454442;
	text-decoration:underline;
}
#profile-news .item .desc a:hover {
	text-decoration:none;
}
#profile-news .item a.btn {
	background: url("/images/newdesign/staff-btn.png") no-repeat 0 0;
	text-decoration:none;
	position:absolute;
	text-align:center;
	padding:2px 0px;
	line-height:16px;
	font-size:11px;
	color:#fff;
	right:0px;
	top:16px;
	width:148px;
	height:16px;
}


#profile-news .add-notes {
	padding:15px 0px;
}
#profile-news .add-notes h4 {
	padding:0px 0 5px 0px;
	font-weight:700;
	font-size:13px;
	color:#1E1D19;
}
#profile-news .add-notes textarea {
	width:664px;
	height:68px;
	display:block;
	padding:7px;
	margin:0 0 5px 0px;
	border:1px solid #D6D6D6;
}
#profile-news .add-notes textarea:focus {
	border:1px solid #696969;
}
#profile-news .add-notes a {
	display:block;
	margin:0 0 0 5px;
	text-decoration:underline;
	color:#737373;
}
#profile-news .add-notes a:hover {
	text-decoration:none;
}
#profile-news .add-notes .submit-add {
	border:1px solid #8FA3C4;
	border-bottom:1px solid #312378;
	cursor:pointer;
	font-size:11px;
	background:#3B5A9A;
	margin:7px 5px;
	padding:0px 18px;
	line-height:18px;
	color:#fff;
	height:18px;
}
#profile-news .staffs-wrap .add-notes {
	padding:30px 0 0 0;
}
#profile-news .staffs-wrap .add-notes textarea {
	width:481px;
}

.page {
	padding:0px;
	height:23px;
	color:#9E9E9E;
	margin:12px 0px;
}
.page span {
	display:inline-block;
	float:left;
	line-height:17px;
	padding:3px 0px;
	height:17px;
	width:150px;
}
.page a {
	display:inline-block;
	float:left;
	height:23px;
	width:43px;
}
.page a.prev {
	background: url("/images/newdesign/page-prev-n.png") no-repeat 0 0;
}
.page a.prev:hover, .page a.prev:active {
	background: url("/images/newdesign/page-prev.png") no-repeat 0 0;
}
.page a.next {
	background: url("/images/newdesign/page-next.png") no-repeat 0 0;
}
.page a.next:hover, .page a.next:active {
	background: url("/images/newdesign/page-next-n.png") no-repeat 0 0;
}


#goods-list-short {
	padding:35px 0 15px 0px;
}
.short-wrap {
	width:495px;
	padding:0 0 20px 0px;
	border-top:1px solid #C9C9C9;
}
.sort-btn {
	text-align:right;
	padding:0 10px 15px 0px;
	line-height:12px;
	height:12px;
}
.sort-btn a {
	display:inline-block;
	border-left:1px solid #4b4b48;
	padding:0 0 0 7px;
	margin-right:7px;
	color:#747473;
}
.sort-btn a.act {
	color:#4b4b48;
	font-weight:700;
	text-decoration:none;
}
.sort-btn a.kr {
	border:0px;
}
.sort-btn a.export {
	width:128px;
	height:16px;
	display:inline-block;
	color:#fff;
	line-height:16px;
	padding:2px 0px;
	font-size:11px;
	text-align:center;
	margin:0px 15px 0px 0px;
	text-decoration:none;
	background: url("/images/newdesign/add-product.png") no-repeat 0 0;
}


#goods-list-short .item {
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #D5D5D5;
	padding:10px 0px 10px 10px;
	position:relative;
	height:35px;
	width:485px;
}
#goods-list-short .item:hover {
	background: url("/images/newdesign/goods-list-short-bg.png") no-repeat 0 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
#goods-list-short .item .img {
	float:left;
	width:42px;
}
#goods-list-short .item .img img {
	height:31px;
	width:31px;
	border:1px solid #BFBFBF;
}
#goods-list-short .item .desc {
	float:left;
	width:430px;
	color:#353535;
	font-weight:500;
	line-height:16px;
}
#goods-list-short .item .desc span.art {
	color:#075182;
}
#goods-list-short .item .desc .adres {
	color:#8B8B8B;
	font-size:11px;
}
#goods-list-short .item a.btn {
	background: url("/images/newdesign/btn-left.png") no-repeat left top;
	display:inline-block;
	margin:0 0px 3px 3px;
	height:15px;
}
#goods-list-short .item a.btn span {
	background: url("/images/newdesign/btn-right.png") no-repeat right top;
	display:inline-block;
	text-align:center;
	line-height:15px;
	font-size:10px;
	padding:0 10px;
	color:#32322f;
	height:15px;
}
#goods-list-short .item:hover a.btn {
	background: url("/images/newdesign/btn-left-h.png") no-repeat left top;
}
#goods-list-short .item:hover a.btn span {
	background: url("/images/newdesign/btn-right-h.png") no-repeat right top;
}

#goods-list-as-picture {}
#goods-list-as-picture .as-wrap {

}
#goods-list-as-picture .item {
	float:left;
	width:163px;
	font-weight:700;
	padding:18px 14px 10px 14px;
	text-align:center;
	margin:0px 0px 15px 0px;
	position: relative;
	height: 220px;


	display: -moz-inline-stack;
  	display: inline-block;
  	vertical-align: top;
  	*display: inline;

  	border: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;


}
#goods-list-as-picture .item:hover {
	border: 1px solid #3a5a98;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ebeff2;
}
#goods-list-as-picture .item .img {
	border:1px solid #7f8082;
	background:#fff;
	margin-bottom:10px;
	text-align:center;
	width:163px;
	height:163px;
}

#goods-list-as-picture .item .img.type2{
	border: 0;
}
#goods-list-as-picture .item p {
	line-height:16px;
}
#goods-list-as-picture .item span.art {
	color:#075182;
	font-size:13px;
}
#goods-list-as-picture .item .day {
	color:#8B8B8B;
	font-size:10px;
}
#goods-list-as-picture .item p.btns {
	padding:5px 0;
	line-height:20px;
	display:block;
}
#goods-list-as-picture .item a.btn {
	background: url("/images/newdesign/btn-left.png") no-repeat left top;
	display:inline-block;
	margin:0 0px 3px 3px;
	font-weight:700;
	height:15px;
}
#goods-list-as-picture .item a.btn span {
	background: url("/images/newdesign/btn-right.png") no-repeat right top;
	display:inline-block;
	text-align:center;
	line-height:15px;
	font-size:10px;
	padding:0 10px;
	color:#32322f;
	height:15px;
}
#goods-list-as-picture .item:hover a.btn {
	background: url("/images/newdesign/btn-left-h.png") no-repeat left top;
}
#goods-list-as-picture .item:hover a.btn span {
	background: url("/images/newdesign/btn-right-h.png") no-repeat right top;
}


#goods-list-detailed {}
#goods-list-detailed .detailed-wrap {}
#goods-list-detailed .item {
	width:495px;
	line-height:16px;
	position:relative;
	border-top:1px solid #E4E4E4;
	border-bottom:1px solid #D5D5D5;
}
#goods-list-detailed .item:hover {
	background: url("/images/newdesign/goods-list-detailed-bg.png") repeat-y 0 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
#goods-list-detailed .item:hover div.top {
	background: url("/images/newdesign/goods-list-detailed-top.png") no-repeat left top;
}
#goods-list-detailed .item div.bottom {
	padding:12px 12px;
	min-height:236px;
	width:471px;
}
#goods-list-detailed .item:hover div.bottom {
	background: url("/images/newdesign/goods-list-detailed-bottom.png") no-repeat left bottom;
}
#goods-list-detailed .item .img {
	width:76px;
	height:76px;
	float:left;
	overflow:hidden;
	text-align:center;
	border:1px solid #E0E0E0;
}
#goods-list-detailed .item .img img {
	max-height:76px;
	max-width:76px;
	border:0px;
}
#goods-list-detailed .item .desc {
	float:left;
	width:380px;
	padding:0 0 0 13px;
}
#goods-list-detailed .item .desc th {
	color:#B5B6B8;
	font-size:10px;
	text-align:left;
}
#goods-list-detailed .item .desc th.one {
	width:165px;
}
#goods-list-detailed .item .desc td {
	vertical-align:top;
	padding:0 10px 0 0px;
}
#goods-list-detailed .item span.art {
	color:#075182;
	font-size:13px;
}
#goods-list-detailed .item .day {
	color:#8B8B8B;
	font-size:10px;
}
#goods-list-detailed .item p.btns {
	padding:5px 0;
	line-height:20px;
	display:block;
}
#goods-list-detailed .item a.btn {
	background: url("/images/newdesign/btn-left.png") no-repeat left top;
	display:inline-block;
	margin:0 0px 3px 0px;
	font-weight:700;
	height:15px;
}
#goods-list-detailed .item a.btn span {
	background: url("/images/newdesign/btn-right.png") no-repeat right top;
	display:inline-block;
	text-align:center;
	line-height:15px;
	font-size:10px;
	padding:0 10px;
	color:#32322f;
	height:15px;
}
#goods-list-detailed .item:hover a.btn {
	background: url("/images/newdesign/btn-left-h.png") no-repeat left top;
}
#goods-list-detailed .item:hover a.btn span {
	background: url("/images/newdesign/btn-right-h.png") no-repeat right top;
}

#goods-list-detailed .item .det {
	padding:12px 0 0 0px;
	font-weight:400;
}
#goods-list-detailed .item .det tr td {
	padding:0 0 12px 0px;
	width:1%;
}
tr.th td {
	color:#B5B6B8;
	font-size:10px;
	text-align:left;
	line-height:12px;
	padding:0px 0px 0px 0px;
}
#goods-list-detailed .item .pablic {
	color:#B6B7B9;
	font-size:10px;
	position:absolute;
	bottom:5px;
	right:12px;
	text-align:right;
}


#footer {
	position:relative;
	padding:12px 0 3px 200px;
	color:#9d9f9e;
	font-weight:700;
	width:780px;
	height:70px;
}
#footer .copyright {
	float:left;
	width:300px;
}
#footer .copyright span {
	color:#003e8b;
}
#footer .menu {
	float:right;
	text-align:left;
	width:440px;
}
#footer .menu li {
	float:left;
	color:#003e8b;
	padding:0 10px 0 0;
	display:inline-block;
	text-decoration:none;
	background: url("/images/newdesign/footer-menu-li.png") no-repeat right 7px;
}
#footer .menu li a {
	color:#003e8b;
	text-decoration:none;
}




.pp-overlay{
   display: none;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2000;
   background: none;
}
.preview-popup{
	border: 1px solid #3a5a98;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 395px;
	position: absolute;
	top: -105px;
	left: 368px;
	background: #f5f6f8;
	box-shadow: 3px 3px 4px #808080;
	z-index: 2001;
	padding: 8px 0 0 0;
	visibility: hidden;
}
#goods-list-detailed .preview-popup{
	top: 0;
}
#goods-list-as-picture .preview-popup{
	top: 18px;
	left: 183px;
}
.preview-larr{
	height: 20px;
	width: 13px;
	background: url(/images/newdesign/preview-larr.png) no-repeat;
	position: absolute;
	left: -13px;
	top: 114px;
}
.preview-close{
	background: url(/images/newdesign/preview-close.png) no-repeat;
	display: block;
	height: 8px;
	width: 8px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.preview-pic{
	border: 1px solid #bfbfbf;
	margin: 0 0 0 8px;
	float: left;
}
.top-description{
	margin: 25px 0 34px 0;
	padding: 5px 0;
	overflow: hidden;
	background: #eceff1;
}
.top-description table{
	width: 100%;

}
.top-description table th{
	color: #3a5a98;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	padding: 0 0 0 8px;
}
.top-description table td{
	padding: 2px 0 2px 8px;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.top-description table td.art{
	color: #3a5a98;
}

.middle-description{
	clear: left;
	padding: 0 8px 8px 8px;
}
.middle-description table td{
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 7px;
	text-align: left;

}
.middle-description table .cell-title{
	display: block;
	font-size: 10px;
	color: #999999;
}
.middle-description table tr.th td {
	color:#B5B6B8;
	font-size:10px;
	text-align:left;
	line-height:12px;
	padding: 7px 0px 0px 0px;
}


.subscribers{
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	padding: 3px 8px 3px 8px;
	color: #61605d;
	background: #fff;
}
.subscribers span{
	font-weight: bold;
	color: #3a5a98;
}
.logistics{
	padding: 12px 0px;
}
.logistics h3{
	font-weight: bold;
	color: #3a5a98;
	font-size: 12px;
	padding: 0 0 0 8px;
}
.logistics-item{
	border-bottom: 1px dotted #bfbfbf;
	padding: 8px;
	overflow: hidden;
}
.logistics-item-in-1{
	float: left;
	font-size: 11px;
	width: 147px;
	text-align: left;

}
.logistics-item-in-2{
	float: left;
}
.logistics-item-in-3{
	float: left;
}
.logistics-item-in-4{
	float: left;
	padding: 7px 0 0 20px;
}

.logistics-item-title{
	color: #61605d;
	font-weight: bold;
}
.item-qnt{
	color: #b4b4b3;
}
.logistics.main a.drop-down-link{
	color: #b4b4b3;
	border-bottom: 1px dashed #b4b4b3;
}
.consumer-unit{
	height: 20px;
}
.delivery-unit{
	height: 20px;
}
.logistics.main{
	/*border-bottom: 2px solid #cfd0d0;*/
}
.logistics.main h3{
	padding-bottom: 15px;
	padding-left: 0;
}
.logistics.main .logistics-item{
	border: 1px solid #fff;
	border-bottom: 1px dotted #bfbfbf;
	overflow: visible;
	padding-bottom: 3px;
}
.logistics.main .logistics-item:hover{
	border: 1px solid #3a5a98;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ebeff2;
}
.logistics.main .logistics-item-in-1{
	width: 170px;
	height: 70px;
}
.logistics-item-in-1-top{
	float: left;
	position: relative;
	top: -2px;
	margin: 0 4px 0 0;
}
.fleft{
	float: left;
}
.logistics.main .logistics-item-in-2{
	width: 80px;
}
.logistics.main .logistics-item-in-3{
	width: 290px;
}
.logistics.main .logistics-item-in-4{
	padding-top: 0;
}
.logistics.main .logistics-item-in-4 label{
	color: #9d9f9e;
	font-size: 11px;
}
.logistics.main .logistics-item-in-4 td{
	vertical-align: middle;
	padding: 0 6px;
}
.logistics.main .consumer-unit{
	margin: 0 0 10px 0;
}
.logistics.main .delivery-unit, .logistics.main .consumer-unit{
}
.logistics.main .logistics-item-title, .logistics.main .item-qnt{
	font-size: 12px;
}
.logistics.main .logistics-item.edited:hover .edit-delete{
	display: block;
}
.edit-delete{
	width: 41px;
	height: 21px;
	margin-top: 5px;
	background: url(/images/newdesign/edit-delete-btn.png) no-repeat;
	overflow: hidden;
	display: none;
}
.edit-delete a{
	width: 20px;
	height: 21px;
	float: left;
	display: block;
}
.logistics-item-in-3 td{
	padding: 0 5px 4px 0;
}
.logistics-item-in-3 td span{
	color: #999999;
}

.blue-btns{
	overflow: hidden;
	padding: 20px 0 7px 0;
}
.blue-btn{
	background: #3a5a99;
	border-left: 1px solid #7990bb;
	border-top: 1px solid #7990bb;
	display: block;
	float: left;
	margin: 0 6px 0 0;
}
.blue-btn span{
	border-bottom: 1px solid #223c7b;
	border-right: 1px solid #223c7b;
	display: block;
	padding: 2px 22px;
	color: #fff;
}
.item-description{
	padding: 12px 0 0 0;
	border-bottom: 2px solid #cfd0d0;
}
.item-description table input, .logistics-item-in-3 input, .logistics-item-in-1 input, .item-description table textarea {
	background: #f2f2f2;
	border: 1px solid #e8e9e9;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding-left: 6px;
}
.item-description table textarea{
	height: 66px;
}
.logistics-item-in-1 input{
	padding-left: 0;
}
.w183{
	width: 177px;
}
.w172{
	width: 166px;
}
.w132{
	width: 126px;
}
.w100p{
	width: 100%;
}
.w759{
	width: 753px;
}
.w557{
	width: 560px;
}
.w50{
	width: 44px;
}
.w55{
	width: 49px;
}
.w40{
	width: 40px;
	text-align: right;
	float: left;
}
.w30{
	width: 30px;
	text-align: center;
	margin: 0 6px 0 0;
}
.item-description table .th td{
	padding: 0 0 3px 6px;
}
.item-description table.edited .th td{
	padding: 0 0 3px 6px;
}
.item-description table.edited td{
	padding: 0 0 16px 6px;
}
.item-description.edited-2 .th td{
	padding: 0 0 3px 6px;
	font-size: 9px;
}
.item-description.edited-2 td{
	padding: 0 0 16px 6px;
	font-size: 13px;
}
.item-description table td{
	padding: 0 0 16px 0;
	vertical-align: top;
}
.item-description table .drop-down-cont.units{
	float: left;
	padding-left: 6px;
	height: 15px;
}
.item-description table .drop-down-cont.units .drop-down-list{
	min-width: 55px;
	height: auto;
}
.drop-down-cont.units .drop-down-list{
	overflow-y: auto;
}
.drop-down-cont.units .drop-down{
	left: -10px;
}
.drop-down-cont.units .drop-down-link{
	position: relative;
	top: 2px;
}
.item-description table .drop-down-cont.vat{
	padding-left: 6px;
}
.item-description table .drop-down-cont.vat .drop-down-list{
	min-width: 55px;
	height: auto;
}
.drop-down-cont.vat .drop-down-list{
	overflow-y: auto;
}
.drop-down-cont.vat .drop-down{
	left: -10px;
}
.days{
	color: #666666;
	padding: 0 0 0 6px;
}
.who-can-see{
	/*border-bottom: 2px solid #cfd0d0;*/
	padding: 12px 0;
}
.who-can-see table{
	margin: 17px 0 0 0;
	float: left;
	width: 175px;
	color: #000;
}
.who-can-see .companies{
	float: left;
	width: 400px;
	padding: 48px 0 0 0;
	color: #000;
	visibility: hidden;
}
.who-can-see td{
	vertical-align: middle;
	padding: 0 0 3px 0;
}
.who-can-see td label{
	position: relative;
	top: -3px;
}
.plus-btn{
	background: url(/images/newdesign/plus-btn.png) no-repeat;
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 4px 0 0;
}
.minus-btn{
	background: url(/images/newdesign/minus-btn.png) no-repeat;
	float: left;
	display: block;
	width: 20px;
	height: 20px;
}
.drop-down-link.companies-choise{
	display: block;

	float: left;
	width: 205px;
	border: 0;
}
.drop-down-link.companies-choise span{
	border-bottom: 1px dashed #000;
}
.drop-down-link.companies-choise:hover span{
	border-bottom: 1px dashed #fff;
}
.drop-down-link-cont{

}
.drop-down-link-choosed{
	float: left;
	display: block;
	clear: left;
	margin: 0 13px 0 0;
	padding: 0 0 10px 0;
	width: 192px;

}
.choosed-items{
	overflow: hidden;
	padding: 2px 0 0 0;
}
.rb-companies{
	height: 10px;
	width: 10px;
}
.rb-privacy label{
	padding-left: 20px;
	position: relative;
	left: -20px;
	z-index: 10000;
}
.or{
	padding: 0 19px;
	position: relative;
	top: 4px;
}
.blue-btns .cancel{
	position: relative;
	top: 4px;
}

#content #middle-side #products {
	width:768px;
	padding:0 0 0 0;
}
#content #middle-side #products .item {
	border-bottom:1px solid #f1f2f2;
	border-top:1px solid #c8c9c9;
	position:relative;
	text-align:left;
	overflow: hidden;
	padding: 9px 7px 9px 18px;
}
#content #middle-side #products .item.refused{
	background: #e6e6e6;
}
#content #middle-side #products .item.refused span.art, .item.refused .product-name, .item.refused .date, .item.refused .changes, .item.refused span{
	color: #afafaf;
}
#content #middle-side #products .item .img {
	float:left;
	margin: 0 9px 0 0;
}
#content #middle-side #products .item .img img{
	border: 1px solid #c0c0c0;
}
#content #middle-side #products .item-center{
	overflow: hidden;
	position: relative;
	color: #888886;
	line-height: 1.4em;
}

#content #middle-side #products .item-center span.art {
	color:#075182;
	font-weight: bold;
}
.product-name{
	color: #000;
}
.new-label{
	position: absolute;
	left: 424px;
	top: 20px;
}
#content #middle-side #products .item-right{
	float: right;
}
#content #middle-side #products .item-right .date{
	color: #b4b4b4;
	font-size: 11px;
	display: block;
	padding: 0 0 7px 0;
	float: right;
}
#content #middle-side #products .item-right .close-btn{
	background: url(/images/newdesign/close-btn.jpg) no-repeat;
	width: 22px;
	height: 20px;
	display: block;
	float: left;
}
#content #middle-side #products .item-right .refuse{
	color: #747473;
	text-decoration: underline;
	font-weight: bold;
}
#content #middle-side #products .item-right .accepted{
	font-weight: bold;
	color: #7596bc;
}
#content #middle-side #products .item-right .refuse:hover{
	text-decoration: none;
}
#content #middle-side #products .item-right .item-right-btns{
	clear: right;
	overflow: hidden;
	text-align: right;
}
#content #middle-side #products .item-right .item-right-btns .or{
	position: static;
	padding: 0 13px;
}
.white-btn{
	border-top: 1px solid #d0d0d0;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #b7b7b6;
	border-bottom: 1px solid #a3a3a2;
	display: block;

}
.white-btn span{
	background: #fff url(/images/newdesign/white-btn-bg.jpg) left bottom repeat-x;
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #c1c1c0;
	border-bottom: 1px solid #a7a7a6;
	display: block;
	padding: 2px 13px;
	font-weight: bold;
	color: #60605e;
}

.cm-child {
  clear: both;
  min-height: 60px;
  padding: 15px 20px 0 0;
  padding-left: 4em;
}

.odd {
  background: #eeeeee;
}

.even {
}

.normal {
  font-size: 120%;
  font-weight: bold;
  color: #3B5A9A;
}

.red {
  color: red;
}

.wrap-messages {
  border: 1px solid #ececec;
}

#messages {
  padding: 30px 20px 30px 20px;
}

#comments {
  border-top: 2px solid #CFD0D0;
  margin-top: 2em;
  padding: 30px 20px 30px 20px;
}

