body, html
{
	behavior: url(csshover.htc);
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000;
	line-height: 150%;
}

.highlight {
	background: #FFFECC;
}

a
{
	color: #6B89AD;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

p {
  margin-bottom: 5px;
}
ul, ol
{
	margin-bottom: 10px;
}

td
{
    padding: 3px 5px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

h1
{
	font-size: 15pt;
}

h2 {
	font-size: 2em;
	border-bottom: 1px solid #000;
	margin: 1em 0;
	padding: 0 0 0.1em;
}
h3 {
  font-size: 1.5em;
}
.body {
  behavior: url(iepngfix.htc);
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1em;
  //padding-bottom: -20px;
}

.header
{
	height: 50px;
	position: relative;
	margin-bottom: 35px;
}

.logo
{
	position: absolute;
	top: 20px;
	left: 20px;
}

.content
{
	width: 100%;
	display: table;
	clear: both;
    padding-bottom: 40px;
}

.row
{
	display: table-row;
}

.column
{
	display: table-cell;
	vertical-align: top;
}

.column,
{
	display: inline;
	vertical-align: top;
	zoom: 1;
}

.left
{
	width: 220px;
}

.right
{
}

.footer
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	border-top: 2px solid #676766;
	width: 100%;
}

li.pack {
  background: url(/images/lbg.png) left top repeat-y;
}

ul.items li>ul
{
  margin-left: 238px;
  margin-bottom: 0;
  position: relative;
}

ul.items ul>li, ul.items>li
{
  list-style: none;
  //padding-bottom: 20px;
  overflow: hidden;
  padding-left: 60px;
}

ul.items li .item
{
  float: left;
  width: 200px;
  //background: #dfeef3;
  //border: 1px solid #666;
  position: relative;
  padding: 5px;
padding-right:30px;
}

ul.items li .item p
{
  margin-bottom: 3px;
}

ul.items li:last-child
{
  margin-bottom: 0;
}

ul.items li.new .item
{
  border: none;
  //height: 30px;
  //width: 70px;
  background: transparent;
}

ul.items li .item .arrow
{
  position: absolute;
  left: -70px;
  top: 20px;
  line-height: 20px;
  height: 144px;
  width: 59px;
  margin-top: -25px;
  font-size: 20pt;
  background: url(/images/arrow.png);
}

ul.items li .item .single-arrow {
  position: absolute;
  left: -70px;
  top: 20px;
  line-height: 20px;
  height: 144px;
  width: 59px;
  margin-top: -25px;
  font-size: 20pt;
  background: url(/images/single-arrow.png);
}

li.new {
  background: none;
}
ul.items li.new .item ul
{
  margin: 0;

}
.pi {
  background:url(/images/box.gif) no-repeat 0 bottom;
	width:213px;
	min-height:133px;
	padding-top:18px;
	padding-left:10px;
}

.pi p{
	margin-bottom:3px;
}

input
{
  width: 150px;
  margin: 3px;
  background: #FFE9BE;
}
textarea {
  background: #FFE9BE;
  width: 100%;
}
.base_item
{
  width: 200px;
  padding: 5px;
  background: #dfeef3;
}

.item_header
{
	font-size: 20pt;
	margin-bottom: 30px;
}

.gtin
{
	font-size: 12pt;
	font-weight:bold;
	margin-bottom: 10px;
}

.item_name
{
	font-size: 12pt;
	margin-bottom: 10px;
}

.unit_status_true
{
	color: red;
	font-weight:bold;
}

.unit_status_false
{
	color: gray;
	font-weight:bold;
}

.label
{
	color: gray;
	font-weight:bold;
}


.tab {
  display: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
	color:#596979;
}
.clear {
  clear: both;
}
.w100 {
  width: 100%;
}
#base_item_country_of_origin_code {
  width: 150px;
}
#base_item_vat {
  width: 60px;
}
.error_field {
  background-color: #ff9090;
}
#retailer_attributes {
}
.tag {
  padding: 0 2px;
  margin: 0 2px;
  font-size: 80%;
  background: #C6D9E9;
}
.tag a {
  text-decoration: none;
}

.tags {
  text-align: right;
}
table.results {
}
table.results tr {
  border-bottom: 1px solid #BBB;
}
table.results td {
  padding: 0 5px;
}
table.results th {
  background: #BBB;
}
.checkbox {
  width: auto;
}
.date {
  font-size: 80%;
}
.filters {
  float: left;
  min-width:15%;
}
.filter {
  text-decoration: none;
}

.data {
  float: left;
  width: 85%;
}
#new_tag {
  display: none;
}
#tag_name {
  width: 100px;
}
tr.info td{
  color: #bbb;
  font-size: 85%;
  font-weight: bold;
  padding: 0 3px;
}
tr.val td {
  color: #000;
  font-size: 140%;
  padding: 0 3px 10px;
}
tr.val td input {
  font-size: 110%;
}
tr.val td select {
  font-size: 110%;
  background: #FFE9BE;
}
.button {
  background: none;
  font-size: 100%;
  font-weight: bold;
  padding: 10px 0;
}
.comment-area {
  background: none;
  width: 450px;
  border: 1px solid #666;
}
#comments {
  border-top: 1px solid #666;
  margin-top: 1em;
}
.selected {
  background: #ccc;
}
.logistic {
  border: 1px solid #666;
  width:auto;
}
.min input{
  width: auto;
}
.hide {
  display: none;
}
.subscribed {
  background: #daffb5;
}
.edit_packaging_item {
}
