body, html
{
	behavior: url(csshover.htc);
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000;
	line-height: 130%;
}

a
{
	color: #f60;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

p, ul, ol
{
	margin-bottom: 10px;
	line-height: 140%;
}

h1
{
	font-size: 15pt;
	line-height: 110%;
}

h2
{
	font-size: 12pt;
	line-height: 140%;
}

.body
{
	behavior: url(iepngfix.htc);
	position: relative;
	height: auto !important;
    height: 100%;
    min-height: 100%;
	margin: 0 auto;
    padding-bottom: -20px;
}

.header
{
	height: 50px;
	position: relative;
	margin-bottom: 35px;
}

.logo
{
	position: absolute;
	top: 20px;
	left: 20px;
}

.content
{
	width: 100%;
	display: table;
	clear: both;
    padding-bottom: 40px;
}

.row
{
	display: table-row;
}

.column
{
	display: table-cell;
	vertical-align: top;
}

.column,
{
	display: inline;
	vertical-align: top;
	zoom: 1;
}

.left
{
	width: 20%;
}

.right
{
	width: 80%;
}

.footer
{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 20px;
	border-top: 2px solid #676766;
	width: 100%;
}

ul.items li>ul
{
  margin-left: 220px;
  margin-bottom: 20px;
  position: relative;
}

ul.items ul>li, ul.items>li
{
  list-style: none;
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 30px;
}

ul.items li .item
{
  float: left;
  width: 200px;
  /*border: 1px solid #ccc;*/
  background: #dfeef3;
  position: relative;
  padding: 5px;
}

ul.items li .item p
{
  margin-bottom: 5px;
}

ul.items li.new .item
{
  border: none;
  line-height: 30px;
  height: 30px;
  width: 40px;
  background: transparent;
}

ul.items li .item .arrow
{
  position: absolute;
  left: -30px;
  top: 50%;
  line-height: 20px;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  font-size: 20pt;
}

ul.items li.new .item ul
{
  margin: 0;
}

input
{
  width: 190px;
}
