login: &login
  adapter: postgresql
  username: user      # use login here
  password: password # use password here
  host: localhost

production:
  database: webforms_prod
  <<: *login

development:
  database: webforms_dev
  <<: *login

test: &test
  database: webforms_test
  <<: *login

cucumber:
  <<: *test

