<%= form_for :subscription, :url => {:action => 'by_gtin', :controller => :subscription,:id=>params[:id]},:html=>{:id => 'subscribe_by_gtin'} do |f| %>
  <%= render :partial => 'gtin',:collection => @gtins %>
  <%= f.submit t('subscription.subscribe') ,:class=>'submit-add', :id => 'subscribe_by_gtin_btn'%>
<%end %>
<style>
  .gtin-error{color: red}
  .gtin-nil{color: grey}
  .gtin-subscription{cursor:auto;}
</style>
<script>
  $('#subscribe_by_gtin').submit(function(){
      if( $('.gtin-error').length > 0 || $('.gtin-nil').length >0 )
      return false;
  });
  var removeGtin=function(gtin){
    $("#gtin-"+gtin).remove()
  };
  var tmp ={};
  var editGtin=function(gtin){
    var input = '<input id="input-'+gtin+'" type = "text" name="gtin" value="'+gtin+'" />';
    var apply = '<a href="javascript:void(0)" id="apply-'+gtin+'">Применить</a>';
    var refuse = '<a href="javascript:void(0)" id="refuse-'+gtin+'">Отмена</a>';
    tmp[gtin] = $("#bi-content-"+gtin).html();
    $("#bi-content-"+gtin).html(input+apply+' '+refuse);
    $("#refuse-"+gtin).click(function(){
        $("#bi-content-"+gtin).html(tmp[gtin]);
    });
    $("#apply-"+gtin).click(function(){

        $.get('/subscriptions/get_single_gtin/'+<%=params[:id]%>,'gtin='+$("#input-"+gtin).val(),
          function(data){
            $("#gtin-"+gtin).replaceWith(data);
          });
    });
  };
</script>

