<div id='left-side'>
  <%= render '/nav' %>
</div>
<div id="middle-side">
  <div class="wrap">

            <div class="address">
            <%= link_to @supplier.name, supplier_path(@supplier) %>
            <a href="#" class="last">Подписка по GTIN</a></div>
            <div class="add-sub">продукты</div>

            <div id="profile-news">
                <div class="add-notes">
                    <h4>Добавить </h4>
                    <%= form_for :subscription, :url => {:action => 'by_gtin', :controller => :subscription,:id=>params[:id]}, :remote => true do |f| %>
                        <textarea name="gtins"></textarea>
                        <input type="submit" class='submit-add' value="Принять" name="do"/>
                    <% end %>
                </div>
            </div>
            <h2>Результаты:</h2>
            <div id = 'goods-list-short'>
                <div id="gtin_results" class="short-wrap">

                </div>
            </div>
  </div>
</div>

