<%= form_for :subscription, :url => {:action => 'by_gtin', :controller => :subscription,:id=>params[:id]}, :remote => true do |f| %>
  <textarea name="gtins"></textarea>
  <input type="submit" value="Принять" name="do"/>
<% end %>

<div id="gtin_results">
</div>

