<% @clouds.each do |c| %>
<div><span class="tag-box" onmouseover="$j(this).find('.tag-del').css('visibility','visible')" onmouseout="$j(this).find('.tag-del').css('visibility','hidden')"><span class="tag-del"><%= link_to_remote 'x', :url => tag_url(:id => c, :kind => c.tag.kind), :method => :delete %></span><span class="tag"><%= c.tag.name %></span></span></div>
<% end %>
