<h1>SubscriptionResults</h1>
<table class="results">
<tr>
<td>#</td><td>status</td><td colspan="2" align="center">actions</td>
</tr>
<% @results.each do |r| %>
<tr id="sr-<%=r.id %>">
<%= render :partial => 'result', :locals => {:r => r} %>
</tr>
<% end %>
</table>
