<h1><%= @subscription.supplier.gln %> <%= @subscription.supplier.name %></h1>
<br/>
<table class="results">
<tr>
	<th>gtin</th><th>status</th><th>name</th><th>date</th><th>actions</th><th>comment</th>
</tr>
<%= render :partial => 'result', :collection => @subscription.subscription_results.reverse %>
</table>
