<div id='left-side'>
  <div class="top-box">
  </div>
  <%= link_to 'Добавить товар', new_base_item_path, :class=>"add-product" if current_user.supplier? %>
  <%= render '/nav' %>
</div>
<%= render :partial => 'results' %>

