<h1>Inbox	</h1>
<table class="results">
<tr>
	<th>gtin</th><th>name</th><th>status</th><th>comment</th><th></th><th></th>
</tr>
<%= render :partial => 'result', :collection => @subscription_results %>
</table>
