<a href="#" id="add_tag_link" onclick="$j(this).hide(); $j('#new_tag').show();return false;"><%=t 'tag.add' %></a>

<% remote_form_for Tag.new do |f| %>
  <input type="hidden" name="tag[item_id]" value="<%= @base_item.item.id %>"/>
  <%= f.text_field :name %><button onclick="$j('#new_tag').hide();$j('#add_tag_link').show();">x</button>
<% end %>
