$input_font_size: $baseline * 1.1;
$input_height: $baseline * 1.5;
$input_width: 250px;
$select_height: $baseline * 2 + 2px;
$fieldset_legend_color: #FF8800;
$hint_font_weight: 200;

$second_column_padding: ($gridColumnWidth + $gridGutterWidth) * 6 + $gridGutterWidth;

fieldset {
  margin-left: 20px;
  legend {
    @extend .span14;
  	font-weight: $hint_font_weight;
  	color: $fieldset_legend_color;
  	padding: 0;
  	margin: 0;
  	font-size: $baseline * 1.67;
  	line-height: $baseline * 2;
  	border-bottom: 1px solid #ddd;
  }
}

form {
  fieldset {
    margin-left: 0;
    width: 100%;
  }

  input {
    &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
    &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
    &[type=number], &[type=range], &[type=string], &[type=search], &[type=color] {
      width: $input_width;
      font-size: $input_font_size;
	    height: $input_height;
    }

    &[type=checkbox], &[type=radio] {
      @include float-left;
      vertical-align: baseline;
    }
  }

  select {
    width: $input_width + 10;
    font-size: $input_font_size;
    height: $select_height;
  }

  textarea {
    @extend .span8;
    height: $baseline / 13px * 6.5em;
  }

  label {
    &.optional {
      color: grey;
    }
    &.boolean {
      text-align: left;
      padding-top: 0;
      margin: 0 0.5em;
    }
  }

  .clearfix {
    &.hidden {
      padding: 0;
      margin: 0;
    }
    &.boolean {
      width: 100%;
      .input {
        position: relative;
      }
    }
  }

  .help-block {
    margin-left: 150px;
  }

  // Forms with labels over input
  &.form-stacked {
    label {
      font-weight: normal;
    }

    div.clearfix.error {
      padding-left: 10px;
      margin-left: -10px;
      margin-top: -10px;
      margin-bottom: -1px;
    }
  }

	.actions {

    input {
	    margin-right: $baseline / 2;
    }
 	}

  &.with-left-hint-col {
    @extend .span14;

  	.actions {
	    padding-left: $second_column_padding;
  	}
  }
}

form, fieldset {
  .large-hint {
    font-weight: $hint_font_weight;
    line-height: $baseline;
    color: grey;
    font-size: $baseline * 0.72;
  }
}

// Only forms costomizations for different controllers should be placed bellow.
//
// Only those customizaitons should be placed here which can not be placed
// in corresponding controller stylesheet file:
// which uses @extend and mixins which are not accessible form controller stylesheet.
// TODO: Move this customizations to corresponding stylesheet.

#comments form {
  padding: 0;
  @extend .span8;

  textarea {
    @extend .span8;
    height: $baseline * 3.5;
  }
  .actions {
    input {
      @include float-right;
    }
  }
}

.products form {
  @extend .form-stacked;
  @extend .with-left-hint-col;
}

.registrations, .accounts {
  form {
    textarea {
      @extend .xxlarge;
      height: $baseline * 3.5;
    }
  }
}

