body.application form {
  input {
    &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
    &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
    &[type=number], &[type=range], &[type=search], &[type=color] {
      @extend .span8;
    }
  }

  textarea {
    @extend .span12;
    height: $baseline / 13px * 6.5em;
  }
}

form {
  .hidden {
    margin-bottom: 0;
  }

  label {
    &.optional {
      color: grey;
    }
  }
}

#comments form {
  textarea {
    @extend .span8;
    height: $baseline * 3.5;
  }
  .actions {
    input {
      @include float-right;
    }
  }
}

.registrations, .accounts {
   form {
    input {
      &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel] {
        @extend .xlarge;
      }
    }
    select {
      @extend .xlarge;
    }
    textarea {
      @extend .xxlarge;
      height: $baseline * 3.5;
    }
  }
}

fieldset legend { 
	font-weight: 200; 
	color: #FF8800; 
	padding: 0 0 0 360px; 
	margin: 0 0 -10px 0; 
	font-size: 30px; 
	line-height: 36px;
}
.inputs {
	padding-top: 17px;
}