$sidebar_narrow_width: 0px;
$sidebar_normal_width: 220px;
$sidebar_margin_left: 40px;
$content_margin_top: 130px;
$attr_value_color: #404040;
$attr_label_color: grey;
$splitter_color: #ddd;
$sidemenu_color: grey;
$sidemenu_bg_color: $grayLighter;
$sidemenu_padding: 5px;
$sidemenu_font_size: 0.9 * $baseline;
$submenu_left_position: $sidemenu_font_size + 2 * $sidemenu_padding + 2px;
$acitve_sidemenu_bg_color: #222;


.search-wrapper {
  @extend .span-one-third;
  @extend .pull-right;
}

.search {
  @extend .span5;
}

body {
  &.clean {
    .header-container { @extend .container; }
    section.main { @extend .container; }
    footer { @extend .container; }
  }
  &.application {
    .header-container { @extend .container-fluid; }
    section.main { @extend .container-fluid; }
    footer { @extend .container-fluid; }

    section.main {
      .sidebar {
        margin-left: $sidebar_margin_left;
      }
      &.index, &.new, &.edit, &.create, &.update {
        > .sidebar {
          width: $sidebar_narrow_width;
        }
        > .content {
          @extend .span13;
          margin-left: $sidebar_margin_left + $sidebar_narrow_width + 20px;
        }
      }
      &.show {
        > .sidebar {
          width: $sidebar_normal_width;
        }
        > .content {
          @extend .span13;
          margin-left: $sidebar_margin_left + $sidebar_normal_width + 20px;
        }
      }
    }
  }
}

section.main {
  margin-top: $content_margin_top;
  position: relative;
}

#flash {
  position: fixed;
  top: 50px;
  right: 10px;
}

.sidebar {
  ul {
    @include no-bullets;
  }
}

// Vertical menu styles
.sidemenu {
  @include vertical-text-left;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: $content_margin_top;
  nav {
    @include float-right;
    padding: 5px;
    padding-right: 0;
    font-size: $sidemenu_font_size;
    z-index: 1000;

    a {
      margin: 0 4px;
      padding: $sidemenu_padding 10px;
      color: $sidemenu_color;
      cursor: pointer;
      text-decoration: none;
      background-color: $sidemenu_bg_color;
      &:hover, &.hover {
        background-color: $acitve_sidemenu_bg_color;
        opacity: 0.95;
      }
    }
  }
}

.submenu {
  position: absolute;
  z-index: 100;
  background-color: $acitve_sidemenu_bg_color;
  left: $submenu_left_position;
  top: 0;
  bottom: 0;
  width: 400px;
  height: auto;
  opacity: 0.95;
  display: none;
  .content {
    display: none;
    padding: 200px 50px 30px 30px;
    ul {
      @include no-bullets; }
    h2 {
      color: $gray;
    }
    a {
      color: $grayLight;
      font-size: 1.3em;
      text-decoration: none;
      &:hover {
        color: $grayLighter;
      }
    }
  }
}

.tr {
  @extend .span14;
  margin: 0 0 15px 0;
}

.item {
  @extend .span7;
  @include float-left;
  margin-bottom: 10px;
}

.attr_field {
  @include float-left;
  margin-right: 12px;
}

.attr_val {
  color: $attr_value_color;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 1;
}

header .tr .attr_val {
  font-weight: bold;
  font-size: 2.3em;
  line-height: 1;
}

.index {
  header .row.tr {
    margin: 0 0 10px 0;
    border-bottom: 1px solid $splitter_color;
    .attr_val {
      color: grey;
      font-weight: 200;
    }
  }
}

.attr_label {
  color: $attr_label_color;
  font-weight: 200;
}

.attr_text {
  border-top: 1px solid $splitter_color;
  @extend .span8;
  padding-top: 10px;
  font-weight: 200;
}


