- disable_uploads ||= false

#photo
  - url = photo.image.medium.url rescue "product_missing.jpg"
  - if photo
    - photo = PhotoDecorator.decorate(photo)
    %a{ name: photo.id }
    = image_tag(url)
    = photo.destroy_link(remote: true, confirm: true, through: @product) unless disable_uploads
  - else
    = image_tag(url)

    = render "photos/form" unless disable_uploads
