- disable_uploads ||= false

#photo
  - if photo && photo.valid?
    - photo = PhotoDecorator.decorate(photo)
    %a{ name: photo.id }
    = image_tag(photo.image.medium.url)
    = photo.destroy_link(remote: true, confirm: true, through: @product) unless disable_uploads
  - else
    = image_tag("product_missing.jpg")

    = render "photos/form" unless disable_uploads
