- disable_uploads ||= false

#photo.photo_form
  -# We should render photo only if it is persisted.
  -# Also we use Delayed Job and photo can be persisted in db but not processed yet.
  -# In that case image_tmp will not be blank.
  -# Other options is when photo is just initialized (new record)
  - if photo && photo.persisted? && photo.image_tmp.blank?
    - photo = PhotoDecorator.decorate(photo)
    %a{ name: photo.id }
    = image_tag(photo.image.medium.url)
    = photo.destroy_link(remote: true, confirm: true, through: @product) unless disable_uploads
  - else
    = image_tag("product_missing.jpg")

    = render "photos/form" unless disable_uploads
