body.application {
	form {
		.input {
			margin-left: 0;
			
			input, input[type="text"], input[type="password"], input[type="email"], 
				input[type="url"], input[type="tel"], input[type="date"], input[type="time"], 
				input[type="datetime"], input[type="datetime-local"], input[type="month"], 
				input[type="week"], input[type="number"], input[type="range"],
				input[type="search"], input[type="color"] {
				width: 250px; 
				font-size: 20px; 
				height: 28px;
			}
			textarea {
				width: 250px;
			}
			select {
				height: 38px;
				width: 260px;
				font-size: 20px;
				line-height: 36px;
			}
			.help-block {
				font-size: 11px;
			}
		}
		label.required, label.optional { 
			float: none; 
			font-weight: 200; 
			margin-bottom: 1px;
		}
		.large-hint { 
			font-weight: 200; 
			line-height: 18px; 
			color: grey; 
			font-size: 13px;
		}
		.actions { 
			padding: 0; 
			background: transparent; 
			border-top: none;
		}
	}
}