// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_photo {
  .link {
    margin-top: -2em;
  }
  .file {
    height: 2em;
    opacity: 0;
  }
}

#photo {
  a {
    color: grey;
  }
}