// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  article {
    margin-bottom: 30px;
  }
}
body.application {
	form.new_product, form.edit_product {
		fieldset legend { font-weight: 200; color:#FF8800; padding: 0 0 0 360px; margin: 0 0 -10px 0; font-size: 30px; line-height: 36px; }
		.large-hint { font-weight:200; line-height: 18px; color: grey; font-size: 13px; }
		label.required, label.optional { float: none; font-weight: 200; margin-bottom: 1px; }
		.error label { color: #B94A48; }
		.input { margin-left: 0;
			input { width: 250px; font-size: 20px; height: 28px; }
			textarea { width: 250px; }
			select { height: 38px; width: 260px; font-size: 20px; line-height: 36px; }
		}
		.inputs { border-top: 1px solid #DDD; padding-top: 17px; }
		.clearfix { margin-bottom: 10px; }
		.row { margin-top: -18px; }
		textarea { width: 250px; }
		select { height: 38px; font-size: 20px; line-height: 36px; }
		.actions { padding: 0; background: transparent; border-top: none; }
		.net_content {
			input { width: 150px; }
			select { width: 96px; }
		}
	}
}