<!--arrow logic-->
<% if item.first? %>
  <% if item.root? %>
    <% if @base_item.packaging_items.first == item %>
      <% if @base_item.has_forest? %>
        <% h=-1; @base_item.packaging_items.each{|pi| h+=PackagingItem.get_base_width(pi) if pi.root?}  %>
        <div class="line-down" style="height: <%= 183*h %>px"></div>
        <div class="arrow"></div>
      <% else %>
      	<div class="single-arrow"></div>
      <% end %>
    <% else %>
    <% end %>
  <% else %>
    <% if item.first? %>
      <% if item.last? %>
      	<div class="single-arrow"></div>
      <% else %>
        <% h=-1;  item.parent.children.each{|child| h+= PackagingItem.get_base_width(child) }  %>
        <div class="line-down" style="height: <%= 183*h %>px"></div>
      	<div class="arrow"></div>
      <% end %>
    <% else %>
      <!--<div class="arrow"></div>-->
    <% end %>
  <% end %>
<% else %>
  <% if item.last? %>
    <!--<div class="last-arrow"></div>-->
  <% end %>
<% end %>
<!--/arrow logic-->

