- ProductDecorator.group(@products, by: params[:group_by]).each do |group, products|
  %article
    %header
      .row.tr
        .attr_val= group

    - products.each_slice(2) do |items|
      .row.tr
        - items.each do |product|
          = render product

#pager
  = ProductDecorator.more_products_link(@products.size, params)
