= title t(".title")

- content_for(:sidemenu) do
  = @product.destroy_link(confirm: true)

- content_for(:sidebar) do
  = render "photos/photo", photo: @product.photos.last

  -#= link_to t("back"), :back

= render 'form'

