-#= title t(".title")

- content_for(:sidemenu) do
  = @product.destroy_link(confirm: true)

%fieldset
  %legend= t(".item_image")
  .row.inputs
    .span7.offset6= render "photos/photo", photo: @product.photos.last

= render 'form'
