.topbar
  .topbar-inner
    %h3
      %a{:href => "#"} Project Name
    %ul.nav
      %li
        %a{:href => "#"} My Items
      %li
        %a{:href => "#"} Statuses
      %li
        %a{:href => "#"} Messages
      %li
        %a{:href => "#"} Events
    %form.search-wrapper{:action => ""}
      %input.search{:placeholder => "Search", :type => "text"}
